<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <input type="text" 
    [ngClass]="{'is-invalid': registerForm.get('username').errors && 
                              registerForm.get('username').touched}"
    formControlName="username" 
    class="form-control"  
    placeholder="Username">

    <div class="invalid-feedback"> Please Choose User Name </div>
  </div>

  <div class="form-group">
    <input type="password" 
    [ngClass]="{'is-invalid': registerForm.get('password').errors &&
                              registerForm.get('password').touched}"
      formControlName="password" 
      class="form-control"  
      placeholder="Password">
      <div class="invalid-feedback"
        *ngIf="registerForm.get('password').hasError('required') &&
               registerForm.get('password').touched">
         Password is Required 
      </div>
      <div class="invalid-feedback"
        *ngIf="registerForm.get('password').hasError('minlength') && 
               registerForm.get('password').touched">
         Password must be at least 4 Character
      </div>
      <div class="invalid-feedback"
        *ngIf="registerForm.get('password').hasError('maxlength') && 
               registerForm.get('password').touched">
         Password cannet Exceed  8 Character
      </div>
  </div>

  <div class="form-group">
    <input type="password"
            
           [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors &&
                                     registerForm.get('confirmPassword').touched ||
                                     registerForm.get('confirmPassword').touched &&
                                     registerForm.hasError('missMatch')}"
           formControlName="confirmPassword" 
           class="form-control"  
           placeholder="Confirm Password">
           
     <div class="invalid-feedback"
           *ngIf="registerForm.get('confirmPassword').hasError('required') && 
                  registerForm.get('confirmPassword').touched">
            Password is Required 
     </div>
     <div class="invalid-feedback"
     *ngIf="registerForm.hasError('missMatch') && 
            registerForm.get('confirmPassword').touched">
           Password Must Matched 
     </div>
  </div>

  <div  class="form-group text-center">
    <button class="btn btn-success" type = "submit" >Register</button>
    <button class="btn btn-default" type = "button" (click)="cancel()">Cancel</button>
  
  </div>
</form>

<p>Form Value: {{registerForm.value | json}} </p>
<p>Form Status: {{registerForm.status | json}} </p>